<div>
    <ul class="tracks">
        <li class="btn btn-default" ng-repeat="track in tracks">
          <button class="btn btn-default" ng-click="toggleArmed(track)">{{ trackArmedLabel(track) }}</button>
          <button class="btn btn-default" ng-click="deleteTrack(track)">Delete</button>
        </li>
    </ul>

    <div>
        <button class="btn btn-default" ng-click="toggleRecording()">{{ recordingLabel() }}</button>
        <button class="btn btn-default" ng-click="play()">Play</button>
        <button class="btn btn-default" ng-click="addTrack()">Add Track</button>
    </div>

    <div>
        <input type="checkbox" ng-model="metronomeOn">Metronome</input>
    </div>
</div>
